section {
  margin: 1rem auto;
  width: 90%;
  max-width: 40rem;
  text-align: center;
  background-color: white;
  padding: 2rem;
  border-radius: 12px;
}

button {
  font: inherit;
  cursor: pointer;
  background: #230052;
  border: 1px solid #230052;
  color: white;
  padding: 0.75rem 2rem;
  border-radius: 20px;
}

button:focus {
  outline: none;
}

button:hover,
button:active {
  background-color: #460897;
  border-color: #460897;
}
/* Add this CSS to a separate CSS file, e.g., form.css */
.form {
  margin: 20px auto;
  max-width: 400px;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form input[type="text"],
.form textarea,
.form input[type="date"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.form textarea {
  resize: vertical; /* Allow vertical resizing of textarea */
}


.form button[type="submit"]:hover {
  background-color: #0056b3;
}

/* Add more styles as needed */
